body, html {
    /* height: 100%; */
}

body {
    margin: 0;
    font-family: "Abel";
    /* background-color: #5E6472; */
    background-color: white;
    color: black;
}

.parallax {
    background-image: url('untitled.svg');
    min-height: 200px;
    /* height: 100%; */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* NAVIGATION MENU */
#nav {
    /* opacity: 0; */
    transition: opacity 0.5s ease-in-out;
    background-color: black;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#nav li a{
    display: block;
    float: right;
    margin: 15px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
    
}

#nav li a:hover {
    color: #FFA69E;
}

/* NAME */
.sticky {
    position: sticky;
    top: 25px;
}

.name {
    margin: 200px 0 200px 0;
    text-align: center;
    /* line-height: 400px; */
}

.name h2 {
    border: 2px solid black;
    display: inline;
    /* padding: 15px 60px 15px 60px; */
    font-size: 350px;
    /* min-height: 300px; */
}

#initials {
    transition: all 0.5s ease-in-out;
}

.fullname {
    opacity: 1;
}

div p {
    padding-top: 1500px;
}




