body {
    font-family: "Abel";
    background-color: black;
    color: white;
}

/* .parallax {
    background-image: url('untitled.svg');
    min-height: 200px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
} */

/* NAVIGATION MENU */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: black;

    position: fixed;
    top: 0;
    right: 0;

    /* opacity: 0;
    transition: opacity 0.5s ease-in-out; */
}

#nav li {
    float: left;
    margin: 15px;
}

#nav li a {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
}

#nav li a:hover {
    color: #FFA69E;
}

/* NAME */
#fn-wrapper {
    text-align: center;
}

#fn {
    display: inline-block;
    font-size: 325px;
    padding: 15px 60px 15px 60px;
    margin-left: -13%;
    border: 3px solid white;
    position: fixed;
    transition: all 0.5s linear;
}

#about {
    display: flex;
    justify-content: center;
    padding: 100px;
}

img {
    margin: 16px;
    /* border-radius: 90%; */
    width: 500px;
    height: 500px;
}

p {
    line-height: 140%;
    letter-spacing: 1px;
    font-size: 150%;
    margin: 50px;
}